:root {
    --mdc-theme-primary: #BA95FD;
    --mdc-theme-secondary: #5d5d78;
    --mdc-theme-background: #000;
    --mdc-theme-surface: #212125;
    --mdc-theme-error: #d32f2f;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-on-surface: #fff;
    --mdc-theme-on-error: #fff;
    --mdc-theme-text-primary-on-background: white;
    --mdc-theme-text-secondary-on-background: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-background: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-background: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-icon-on-background: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-dark: white;
    --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

*::selection {
    background: #ffffff99;
}