html {
    background: #222222aa;
    color: white;
}

.obj > div {
    background: #00000000;
}

.obj > div:hover {
    background: #00000022;
}

.modal, .modal * {
    background: #333333 !important;
    color: white;
}

#wrapper {
    border-color: white;
}

#credit-black {
    display: none;
}

#window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
}

input {
    color: white;
}

.btn-flat {
    color: white;
}

ul.dropdown-content.select-dropdown {
    background: #333333;
}