html {
    background: #22222288;
    color: white;
}

.obj > div {
    background: #1e1e1e;
}

.modal, .modal * {
    background: #333333 !important;
    color: white;
}

#wrapper {
    border-color: white;
}

#credit-black {
    display: none;
}

#window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
}