#titlebar {
    display: block;
    position: fixed;
    height: 32px;
    z-index: 9999;
    width: calc(100vw - 2px);
    padding: 4px;
    top: 1px;
}

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(2, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-family: "Segoe MDL2 Assets";
    font-size: 10px;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#window-controls #min-button {
    grid-column: 1;
}

#window-controls #close-button {
    grid-column: 2;
}

#window-controls {
    -webkit-app-region: no-drag;
}

#window-controls .button {
    user-select: none;
    cursor: default;
}

#close-button:hover {
    background: #E81123 !important;
}

#close-button:active {
    background: #f1707a !important;
    color: #000;
}

#restore-button {
    display: none !important;
}

#titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
}

#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    overflow-x: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
}

#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}

.maximized #titlebar {
    width: 100%;
    padding: 0;
}

.maximized #window-title {
    margin-left: 12px;
}

.maximized #restore-button {
    display: flex !important;
}

.maximized #max-button {
    display: none;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 1px;
}