html {
    background: #ffffff88;
    color: black;
}

::-webkit-scrollbar {
    background: #222222;
}

#wrapper {
    border-color: black;
}

#credit-white {
    display: none;
}

#window-controls .button:hover {
    background: rgba(0, 0, 0, 0.1);
}

#window-controls .button:active {
    background: rgba(0, 0, 0, 0.2);
}

.btn-flat {
    color: black;
}

input {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
}

label {
    color: black !important;
}

ul.dropdown-content.select-dropdown {
    background: #ffffff;
}

#splashFont {
    fill: #ffffff;
}