@font-face {
    font-family: 'nanum';
    src: url("res/NSR.ttf");
}

* {
    font-family: 'nanum';
}

html {
    width: 600px;
    height: 200px;
    overflow: hidden;
}

#text {
    font-size: 4.4em;
    margin-top: 8%;
    margin-left: 0;
}

body {
    width: 100%;
    height: 100%;
    border-color: #673ab7;
    border-style: solid;
}

#icon {
    float: left;
    width: 30%;
}

#icon img {
    margin-left: 40px;
    margin-top: 40px;
    height: 120px;
}

#cont {
    float: left;
    width: 65%;
    margin-left: 5%;
}

.progress {
    top: -43px;
    width: 90%;
}